<div class="wrap">
  <div class="container-fluid">
    <%= render 'layouts/flashes' %>
    <div class= "row ml-1 mt-2">
      <h2>Login</h2>
    </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class= "row justify-content-center">
        <div class="col-8 text-center">
          <table class="table">
            <thead>
              <th></th>
              <th></th>
            </thead>
            <tbody>
              <tr>
                <td><%= f.label :email, "メールアドレス" %></td>
                <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
              </tr>
              <tr>
                <td><%= f.label :password %></td>
                <td><%= f.password_field :password, autocomplete: "current-password" %></td>
              </tr>
              <tr>
                <td colspan="2"><%= f.submit "Log in", class: "btn btn-outline-primary" %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <% end %>

    <h4>登録がお済みでない方</h4>
      <p><%= link_to "こちら", new_user_registration_path, class: "underline" %>から新規登録を行なってください。</p>

  </div>
</div>