<h1>Edit Profile</h1>

<p><%= flash[:error] %></p>

<%=form_for(@user) do |f| %>

	<div class="field">
		<%= f.label :profile_image, "プロフィール画像" %>
		<%= f.attachment_field :profile_image, class: "profile_image" %>
	</div>

	<div class="field">
		<%= f.label :name, "名前" %><br />
		<%= f.text_field :name, autofocus: true, autocomplete: "name" %>
	</div>

	<div class="field">
		<%= f.label :email, "メールアドレス" %><br />
		<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
	</div>

	<div class="actions">
    	<%= f.submit "編集内容を保存する" %>
  	</div>

  	<div class="actions">
  		<%= link_to "退会する",users_confirm_path %>
  	</div>

<% end %>

