<div class="wrap">
	<div class="container-fluid">
		<%= render 'layouts/flashes' %>
		<div class= "row ml-1 mt-2">
			<h2>Friend's Work Out</h2>
		</div>
		<% @work_outs.each do |work_out| %>
			<div class= "row justify-content-center">
				<!-- work_out本体 -->
				<div class= "col-md-8  my-3 box border">
					<!-- ヘッダー -->
					<div class= "row justify-content-center border-bottom" style="background-color: #f5f5f5;">
						<div class="col-6 pl-0 align-self-center text-left">
							<%= link_to user_path(work_out.user) do %>
								<%= attachment_image_tag work_out.user, :profile_image, :fill, 63, 63, format: "jpeg", fallback: "no-image.jpg", class: "rounded-circle" %>
								<%= work_out.user.name %>
							<% end %>
						</div>
						<div class="col-4 pl-0 align-self-center text-right">
							<%= work_out.created_at.strftime("%Y/%m/%d %H:%M") %>
						</div>
					</div>

					<div class="row">
						<!-- 左半分 -->
						<div class="col-md-6 text-center pt-4">
							<%= attachment_image_tag work_out, :after_image, :fill, 150, 150, format: "jpeg", fallback: "no-image.jpg", size:'150x150', class: "rounded" %>
						</div>
						<!-- 右半分 -->
						<div class="col-md-6">
							<div class="row my-2 border-bottom">
								<!-- 筋トレの簡易情報について -->
								<div class="col-2">
									<i class="fas fa-stopwatch"></i>
								</div>
								<div class="col-10">
									<%= work_out.time %>分
								</div>
								<div class="col-2">
									<i class="fas fa-running"></i>
								</div>
								<div class="col-10">
									<%= work_out.muscle_group_i18n %>
								</div>
								<div class="col-2">
									<i class="fas fa-level-up-alt"></i>
								</div>
								<div class="col-10">
									<%= work_out.effect_i18n %>
								</div>
								<div class="col-2">
									<i class="fas fa-map-marker-alt"></i>
								</div>
								<div class="col-10">
									<%= work_out.place_i18n %>
								</div>
							</div>
							<div class="row mt-2">
								<!-- コメント -->
								<div class="col">
									<i class="fas fa-comment"></i>
									<%= work_out.comments.count %>
								</div>
								<!-- いいね -->
								<div class="col">
									<div id="favorite-<%= work_out.id %>">
										<%= render partial: 'favorites/favorite', locals: { work_out: work_out} %>
									</div>
								</div>
							</div>
							<div class="row -2">
								<!-- タグ -->
								<div class="col">
								</div>
							</div>
						</div>
						<div class="row my-3 mx-auto">
							<!-- 詳細ページへのボタン -->
							<div class="col-12 text-center">
								<%=link_to "Read More!", work_out_path(work_out), class: "btn btn-outline-secondary" %>
							</div>
						</div>
					</div>
				</div>
			</div>
		<% end %>
		<div class= "row">
			<div class="mx-auto mb-3">
				<%= paginate @work_outs %>
			</div>
		</div>
	</div>
</div>