<div class="wrap">
	<div class="container-fluid">
		<div class="row ml-1">
			<h1>WorkOuts#show</h1>
		</div>
			<!--プロフィール-->
			<div class="row justify-content-center">
				<!--ユーザー情報-->
				<div class="col-md-8 border">
					<div class="row  border-bottom">
						<div class="col text-center">
							<%= attachment_image_tag @user, :profile_image, :fill, 63, 63, format: "jpeg", fallback: "no-image.jpg", class: "rounded-circle" %>
							<%= @user.name %>
						</div>
						<!--ログインが自分か他人か-->
						<div class="col text-center mt-4">
							<% if @user == current_user %>
								<%= link_to "プロフィール編集", edit_user_path(current_user) %>
							<% elsif @user != current_user %>
								<% if @user.followed_by?(current_user) %>
									<%=link_to "フォローを外す", user_relationships_path(@user), method: :delete %>
								<% else %>
									<%=link_to "フォローする", user_relationships_path(@user), method: :post %>
								<% end %>
							<% end %>
						</div>
					</div>
					<div class="row my-3">
						<div class="col text-center">
							フォロワー<br>
							<%= link_to user_followers_path(@user) do %>
								<%= @user.passive_relationships.count %>
							<% end %>
						</div>
						<div class="col text-center">
							フォロー<br>
							<%= link_to user_follows_path(@user) do %>
								<%= @user.active_relationships.count %>
							<% end %>
						</div>
						<div class="col text-center">
							いいね<br>
							<%= link_to user_favorites_path(@user) do %>
								<%= @user.favorites.count %>
							<% end %>
						</div>
					</div>
				</div>
			</div>

			<div class="row justify-content-center">
				<div class="col-md-8 my-3">
					<div class="card">
						<div class="card-header">
							<h3>時間</h3>
						</div>
						<div class="card-body">
							<%= @work_out.time %>分
						</div>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-8 my-3">
					<div class="card">
						<div class="card-header">
							<h3>筋群</h3>
						</div>
						<div class="card-body">
							<%= @work_out.muscle_group_i18n %>
						</div>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-8 my-3">
					<div class="card">
						<div class="card-header">
							<h3>器具</h3>
						</div>
						<div class="card-body">
							<%= @work_out.equipment %>
						</div>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-8 my-3">
					<div class="card">
						<div class="card-header">
							<h3>内容</h3>
						</div>
						<div class="card-body">
							<%= @work_out.body %>
						</div>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-8 my-3">
					<div class="card">
						<div class="card-header">
							<h3>効果</h3>
						</div>
						<div class="card-body">
							<%= @work_out.effect_i18n %>
						</div>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-8 my-3">
					<div class="card">
						<div class="card-header">
							<h3>場所</h3>
						</div>
						<div class="card-body">
							<%= @work_out.place_i18n %>
						</div>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-4 my-3">
					<div class="card">
						<div class="card-header">
							<h3>ビフォー</h3>
						</div>
						<div class="card-body text-center">
							<%= attachment_image_tag @work_out, :before_image, :fill, 150, 150, format: "jpeg", fallback: "no-image.jpg", size: '150x150' %>
						</div>
					</div>
				</div>
				<div class="align-self-center">
					<p><i class="fas fa-arrow-right fa-3x"></i></p>
				</div>
				<div class="col-md-4 my-3">
					<div class="card">
						<div class="card-header">
							<h3>アフター</h3>
						</div>
						<div class="card-body text-center">
							<%= attachment_image_tag @work_out, :after_image, :fill, 150, 150, format: "jpeg", fallback: "no-image.jpg", size: '150x150' %>
						</div>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col text-center">
					<!--投稿したユーザーとログインユーザーが同じだった場合-->
					<% if @user == current_user %>
						<%=link_to "編集する", edit_work_out_path(@work_out) %>
						<%=link_to "削除する", work_out_path(@work_out), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"} %>
					<% end %>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-8 my-3">
					<div class="card">
						<div class="card-header">
							<h3>いいね <%= @favorite_users.count %>人</h3>
						</div>
						<div class="card-body">
							<% @favorite_users.each do |user| %>
								<%= link_to user_path(user) do %>
									<%= attachment_image_tag user, :profile_image, :fill, 40, 40, format: "jpeg", fallback: "no-image.jpg", size:'40x40', class: "frounded-circle" %>
									<%= user.name %>
								<% end %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
			<!--コメント一覧-->
			<div class="row justify-content-center">
				<div class="col-md-8 my-3">
					<div id="comment-<%= @work_out.id %>">
						<%= render partial: 'comments/comment', locals: { comments: @work_out.comments} %>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-8 my-3">
					<%= form_with( model:[@work_out,@new_comment], url: work_out_comments_path(@work_out,@new_comment), remote: true) do |f| %>

						<div class="field text-center">
							<%= f.text_area :body, :size => "80x5", placeholder: "コメントをここに" %>
						</div>

						<div class="actions text-right">
							<%= f.submit "登録" %>
						</div>

					<% end %>
				</div>
			</div>
	</div>
</div>