<%= form_for(@contact, :url => contacts_confirm_path) do |f| %>

<div class="wrap">
	<div class="container-fluid">
		<div class= "row justify-content-center">
			<div class="col-8 border mt-3">
				<div class="write_header p-1 border-bottom">
					<h1>お問い合わせ</h1>
				</div>
				<div class="write_contact">
					<div class="col mt-2">
						<% if @contact.errors.any? %>
							<div class="alert alert-danger m-2" role="alert">
								<strong>入力内容にエラーがあります</strong>
								<ul>
									<% @contact.errors.each do |attr, msg| %>
										<li><%= msg %></li>
									<% end %>
								</ul>
							</div>
						<% end %>
					</div>

					<div class="col mt-2">
						<%= f.label :name, "名前" %><span class="text-danger">（必須）</span><br>
						<%= f.text_field :name %>

					</div>
					<div class="col mt-2">
						<%= f.label :email, "メールアドレス" %><span class="text-danger">（必須）</span><br>
						<%= f.text_field :email %>
					</div>
					<div class="col mt-2">
						お問い合わせ内容
						<%= f.text_area :message, class: "form-control" %>
					</div>
					<div class="text-center m-2">
						<%= f.submit '確認', class: 'btn btn-outline-primary' %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<% end %>