<!DOCTYPE html>
<html>
  <head>
    <title>SixPack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    <header class= "header">
      <nav class="navbar navbar-expand-md navbar-dark navbar-fixed-top", style="background-color: #deb887;">
        <div class= "container">
          <div class= "navbar-header">
            <%= link_to "SixPack", root_path, class: "logo" %>
          </div>

          <% if user_signed_in? %>

            <span class="u h7 text-white strong">
              ようこそ！<%= current_user.name %>さん！
            </span>

            <ul class="nav navbar-nav">
              <li class="nav-item mr-4">
                <%= link_to "All Work Out", work_outs_path %>
              </li>
              <li class="nav-item mr-4">
                <%= link_to "Friend's Work Out", work_outs_following_path %>
              </li>
              <li class="nav-item mr-4">
                <%= link_to "My Page", user_path(current_user) %>
              </li>
              <li class="nav-item mr-4">
                <%= link_to "Write Work Out", new_work_out_path %>
              </li>
              <li class="nav-item mr-4">
                <%= link_to "Contact", contacts_new_path %>
              </li>
              <li class="nav-item">
                <%= link_to "Logout", destroy_user_session_path, method: :delete %>
              </li>
            </ul>

          <% else %>

              <ul class="nav navbar-nav">
                <li class="nav-item mr-4">
                  <%= link_to "Sign up", new_user_registration_path %>
                </li>
                <li class="nav-item">
                  <%= link_to "Log in", new_user_session_path %>
                </li>
              </ul>

          <% end %>

        </div>
      </nav>
    </header>

      <main>
        <%= yield %>
      </main>

    <div class="container text-right mt-3">
      <footer>©2020 Wasaki Ritsuya </footer>
    </div>
  </body>
</html>
