<!DOCTYPE html>
<html>
  <head>
    <title>SixPack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>

  <body>
    <div class= "container">
      <div class= "row">
        <% if user_signed_in? %>
          <header class= "user_header">
            <nav class="nav navbar-nav navbar-left">
                <%= link_to "SixPack", root_path, class: "logo" %>
            </nav>
            <nav>
              <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "All Work Outs", work_outs_path %></li>
                <li><%= link_to "Friend's Work Out" %></li>
                <li><%= link_to "My Page", user_path(current_user) %></li>
                <li><%= link_to "Write Work Out", new_work_out_path %></li>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
              </ul>
            </nav>
          </header>
        <% else %>
          <header class= "user_header">
            <nav class="nav navbar-nav navbar-left">
              <%= link_to "SixPack", root_path, class: "logo" %>
            </nav>
            <nav>
              <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "Sign up", new_user_registration_path %></li>
                <li><%= link_to "Sign in", new_user_session_path %></li>
              </ul>
            </nav>
          </header>
        <% end %>
      </div>
    </div>

      <main>
        <%= yield %>
      </main>

    <div class="container">
      <footer>©2020 Wasaki Ritsuya </footer>
    </div>
  </body>
</html>
